<div class="flex flex-col bg-gray-300 h-screen justify-between items-center">
    <div></div>
    <div>
        <img class="motion-reduce:animate-spin w-56" src="{{routeURL}}assets/logo.png" />
    </div>
    <div></div>
</div>